 <div class="container">
    <div class="postsBlock">
        <h2 class="postTitle">Newest posts</h2>
        <div class="row mb-30 mt-20 pa-10">
            <% @posts.each do |post| %>
                <div class="col-md-4 text-center">
                    <img src="<%= post.image.url(:large) %>" class="img-responsive" alt="Responsive image">
                    <h3><a href="<%= post_path(post) %>"><%= post.title %></a></h3>
                    <p>Description</p>
                    <h4>PledgeAmount</h4>
                    <br>
                    <a href="<%= pledge_post_path(post) %>" class="btn btn-success btn-lg">Pledge</a>
                    <br>
                    <br>
                    <% if post.user_id == current_user.id %>
                    <%= link_to "Edit", edit_post_path(post) %>
                    <%= link_to "Remove", post, method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger" %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
