<div class="container">
    <div class="postsBlock">
        <div class="row mb-30 mt-20">
            <div class="col-md-6 text-center">
                <div class="ma-10">
                    <img src="<%= @post.image.url(:large) %>" class="img-responsive">
                    <h3><a href="<%= post_path(@post) %>"><%= @post.title %></a></h3>
                    <p><%= @post.description %></p>
                    <h4>Pledge Amount: $<%= @post.pledged_amount %></h4>
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ma-10">
                    <h3>Enter amount:</h3>
                    <%= simple_form_for @pledge, method: 'POST', url: post_pledge_post_path do |f| %>
                        <%= f.input :amount %>
                        <button type="submit" class="btn btn-primary btn-block">ENTER</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
