<div class="container">
    <div class="postsBlock">
        <div class="row mb-30 mt-20">
            <div class="col-md-12 text-center mt-20">
                <img src="<%= @post.image.url (:large) %>">
                <h3><%= @post.title %></h3>
                <p><%= @post.description %></p>
                <h4>Amount to Goal: $<%= @post.amount - @post.pledged_amount %></h4>
                <br>
                    <% if (@post.pledged_amount >= @post.amount) %>
                        <h4 class="text-success">Pledge reached!</h4>
                    <% else %>
                        <% if user_signed_in? %>
                        <a href="<%= pledge_post_path(@post) %>" class="btn btn-success btn-lg">Pledge</a>
                        <% else %>
                        <p>You have to <a href="<%= new_user_session_path %>">Sign in</a> to  pledge</p>
                        <% end %>
                    <% end %>
                <br>
                <br>
                <% if current_user == @post.user.id %>
                <%= link_to "Edit", edit_post_path(@post) %>
                <%= link_to "Remove", @post, method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
